In [ ]:
import pandas as pd

In [ ]:
df_trips = pd.read_parquet("data/green_tripdata_2025-11.parquet", engine="pyarrow")

In [8]:
from sqlalchemy import create_engine

In [18]:
engine = create_engine('postgresql://postgres:postgres@localhost:5433/ny_taxi')

In [ ]:
df_trips.to_sql(
    name="trip_data",
    con=engine,
    if_exists="replace"
)

912

In [37]:
dtypes ={
    "LocationID": "Int64",
    "Borough": "category",
    "Zone": "string",
    "service_zone": "category"
}

In [43]:
df_zones = pd.read_csv("data/taxi_zone_lookup.csv", dtype=dtypes)
df_zones = df_zones.set_index("LocationID")

In [44]:
df_zones

                  Borough                     Zone service_zone
LocationID
1                     EWR           Newark Airport          EWR
2                  Queens              Jamaica Bay    Boro Zone
3                   Bronx  Allerton/Pelham Gardens    Boro Zone
4               Manhattan            Alphabet City  Yellow Zone
5           Staten Island            Arden Heights    Boro Zone
...                   ...                      ...          ...
261             Manhattan       World Trade Center  Yellow Zone
262             Manhattan           Yorkville East  Yellow Zone
263             Manhattan           Yorkville West  Yellow Zone
264               Unknown                       NV          NaN
265               Unknown                     <NA>          NaN

[265 rows x 3 columns]

In [45]:
df_zones.to_sql(
    name="zones",
    con=engine,
    index=True,
    index_label="LocationID",
    if_exists="replace"
)

265